<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>日.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>晚上天空.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1366,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1366,168}}</string>
                <key>sourceSize</key>
                <string>{1366,168}</string>
            </dict>
            <key>月.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,342},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>白天天空.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{1366,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1366,168}}</string>
                <key>sourceSize</key>
                <string>{1366,168}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bg_sky.png</string>
            <key>size</key>
            <string>{1370,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:404963b835c6581334c0557a9b6ae03a$</string>
            <key>textureFileName</key>
            <string>Images/bg_sky.png</string>
        </dict>
    </dict>
</plist>
