<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>btn_again.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_gomenu.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,2},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_help.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,2},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_music.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,150},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_next.png</key>
      <dict>
        <key>frame</key>
        <string>{{150,150},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_sound.png</key>
      <dict>
        <key>frame</key>
        <string>{{298,150},{146,146}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{146,146}}</string>
        <key>sourceSize</key>
        <string>{146,146}</string>
      </dict>
      <key>btn_stop.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,298},{73,73}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{73,73}}</string>
        <key>sourceSize</key>
        <string>{73,73}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>bluebtn.png</string>
      <key>size</key>
      <string>{446,373}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:c21babd616e66d40a7992ccd18b17faa$</string>
      <key>textureFileName</key>
      <string>Images/bluebtn.png</string>
    </dict>
  </dict>
</plist>
