<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>开窗.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{154,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,170}}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
      <key>闭窗.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,174},{154,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{154,170}}</string>
        <key>sourceSize</key>
        <string>{154,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>btn.png</string>
      <key>size</key>
      <string>{158,346}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:93b10d64e8ad6f8d88d6b729dca488c0$</string>
      <key>textureFileName</key>
      <string>images/btn.png</string>
    </dict>
  </dict>
</plist>
