<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>brick_0.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,386},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>brick_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,290},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>brick_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,194},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>brick_3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,98},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
      <key>brick_4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{94,94}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{94,94}}</string>
        <key>sourceSize</key>
        <string>{94,94}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>brick.png</string>
      <key>size</key>
      <string>{98,482}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:417b3fad6e1ab731dc0f37fbc3625c10$</string>
      <key>textureFileName</key>
      <string>brick.png</string>
    </dict>
  </dict>
</plist>
