<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,58}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{64,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{78,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,0},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,80},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,80},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>d.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e002500181a69b896b791256dc7fc3e3$</string>
            <key>textureFileName</key>
            <string>d.png</string>
        </dict>
    </dict>
</plist>
