<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sd1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,132},{919,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{919,128}}</string>
        <key>sourceSize</key>
        <string>{919,128}</string>
      </dict>
      <key>sd2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{919,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{919,128}}</string>
        <key>sourceSize</key>
        <string>{919,128}</string>
      </dict>
      <key>sd3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,262},{261,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,195}}</string>
        <key>sourceSize</key>
        <string>{261,195}</string>
      </dict>
      <key>sd4.png</key>
      <dict>
        <key>frame</key>
        <string>{{265,262},{261,195}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{261,195}}</string>
        <key>sourceSize</key>
        <string>{261,195}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>shandian.png</string>
      <key>size</key>
      <string>{923,459}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:3b31c34952dddb25c79e95cc6a87dace$</string>
      <key>textureFileName</key>
      <string>shandian.png</string>
    </dict>
  </dict>
</plist>
