<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>thunder_branch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>thunder_branch2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{70,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,84}}</string>
                <key>sourceSize</key>
                <string>{70,84}</string>
            </dict>
            <key>thunder_point.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thunderSkill.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f32515343bd5b864479b30f71af8b1d$</string>
            <key>textureFileName</key>
            <string>thunderSkill.png</string>
        </dict>
    </dict>
</plist>
