<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>10010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10011.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100110.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100111.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100112.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100113.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100114.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100115.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100116.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100117.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100118.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100119.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10012.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100120.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100121.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100122.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100123.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100124.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100125.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100126.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100127.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100128.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100129.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10013.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100130.png</key>
      <dict>
        <key>frame</key>
        <string>{{567,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100131.png</key>
      <dict>
        <key>frame</key>
        <string>{{680,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100132.png</key>
      <dict>
        <key>frame</key>
        <string>{{793,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100133.png</key>
      <dict>
        <key>frame</key>
        <string>{{906,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>100134.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,479},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10014.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,479},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10015.png</key>
      <dict>
        <key>frame</key>
        <string>{{228,479},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10016.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,479},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10017.png</key>
      <dict>
        <key>frame</key>
        <string>{{454,320},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10018.png</key>
      <dict>
        <key>frame</key>
        <string>{{341,161},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>10019.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>1001.png</string>
      <key>size</key>
      <string>{1019,638}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:f0116ee96ce60ae7ed7edcfdce94d44e$</string>
      <key>textureFileName</key>
      <string>Zombie/1001.png</string>
    </dict>
  </dict>
</plist>
