<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>20010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20011.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200110.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200111.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200112.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200113.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200114.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200116.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200117.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200118.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200119.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20012.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200120.png</key>
      <dict>
        <key>frame</key>
        <string>{{747,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>200121.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20013.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20014.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20015.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20016.png</key>
      <dict>
        <key>frame</key>
        <string>{{449,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20017.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,370},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20018.png</key>
      <dict>
        <key>frame</key>
        <string>{{598,186},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>20019.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,2},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>2001.png</string>
      <key>size</key>
      <string>{896,554}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:49d8a6af2c132e365c9cb0ad1747e6a1$</string>
      <key>textureFileName</key>
      <string>Zombie/2001.png</string>
    </dict>
  </dict>
</plist>
