<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>30010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30011.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,2},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300110.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,2},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300111.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,2},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300112.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300113.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300114.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300115.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300116.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300117.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300118.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300119.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,174},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,346},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300120.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,346},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300121.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,346},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300122.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,346},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300123.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,518},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300124.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,518},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>300125.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,518},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30013.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,518},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30014.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30015.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30016.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30017.png</key>
      <dict>
        <key>frame</key>
        <string>{{362,518},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30018.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,346},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>30019.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,690},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>3001.png</string>
      <key>size</key>
      <string>{482,862}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:14463f9d2dbd21c7d6c342155ac5b451$</string>
      <key>textureFileName</key>
      <string>Zombie/3001.png</string>
    </dict>
  </dict>
</plist>
