<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>40010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40011.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400110.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,184},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400111.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400112.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400113.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,2},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400114.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,2},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400115.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,2},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400116.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400117.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400118.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,93},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400119.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,184},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40012.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,184},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400120.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,184},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>400121.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,275},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40013.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,275},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40014.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,275},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,366},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40016.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,366},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40017.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,366},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40018.png</key>
      <dict>
        <key>frame</key>
        <string>{{170,275},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>40019.png</key>
      <dict>
        <key>frame</key>
        <string>{{86,275},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>4001.png</string>
      <key>size</key>
      <string>{254,457}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:a01463b3b13f200701727b41dcc739fd$</string>
      <key>textureFileName</key>
      <string>Zombie/4001.png</string>
    </dict>
  </dict>
</plist>
