<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>50010.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50011.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,2},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50012.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,116},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50013.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,2},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50014.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,116},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50015.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,230},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50016.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,230},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50017.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,344},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>50018.png</key>
      <dict>
        <key>frame</key>
        <string>{{190,344},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>5001.png</string>
      <key>size</key>
      <string>{378,458}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:5d5ff1bed803cdff0341680c91cb87cf$</string>
      <key>textureFileName</key>
      <string>Zombie/5001.png</string>
    </dict>
  </dict>
</plist>
