<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>60010.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1366},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60011.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600110.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600111.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600112.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600113.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600114.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600115.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600116.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600117.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,343},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600118.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,343},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600119.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,684},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60012.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600120.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,343},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600121.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600122.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,2},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600123.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600124.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,2},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>600125.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60013.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1707},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60017.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60018.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
            <key>60019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1025},{235,339}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,339}}</string>
                <key>sourceSize</key>
                <string>{235,339}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6001.png</string>
            <key>size</key>
            <string>{950,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aff19d48c4269512c5d732696a192ab$</string>
            <key>textureFileName</key>
            <string>Zombie/6001.png</string>
        </dict>
    </dict>
</plist>
