<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dj1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>dj10.png</key>
      <dict>
        <key>frame</key>
        <string>{{115,2},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
      <key>dj2.png</key>
      <dict>
        <key>frame</key>
        <string>{{303,2},{111,157}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{111,157}}</string>
        <key>sourceSize</key>
        <string>{111,157}</string>
      </dict>
      <key>dj3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,161},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>dj4.png</key>
      <dict>
        <key>frame</key>
        <string>{{151,161},{147,182}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{147,182}}</string>
        <key>sourceSize</key>
        <string>{147,182}</string>
      </dict>
      <key>dj5.png</key>
      <dict>
        <key>frame</key>
        <string>{{300,161},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>dj6.png</key>
      <dict>
        <key>frame</key>
        <string>{{384,161},{82,89}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{82,89}}</string>
        <key>sourceSize</key>
        <string>{82,89}</string>
      </dict>
      <key>dj7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,345},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>dj8.png</key>
      <dict>
        <key>frame</key>
        <string>{{122,345},{118,170}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,170}}</string>
        <key>sourceSize</key>
        <string>{118,170}</string>
      </dict>
      <key>dj9.png</key>
      <dict>
        <key>frame</key>
        <string>{{242,345},{186,112}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{186,112}}</string>
        <key>sourceSize</key>
        <string>{186,112}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>dj.png</string>
      <key>size</key>
      <string>{468,517}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:4910e51841a00b4f8cb7449ad0109daa$</string>
      <key>textureFileName</key>
      <string>Zombie/dj.png</string>
    </dict>
  </dict>
</plist>
