<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sample1.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,520},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample2.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,261},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample3.png</key>
      <dict>
        <key>frame</key>
        <string>{{518,2},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample4.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,2},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,520},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,261},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
      <key>sample7.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{256,257}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{256,257}}</string>
        <key>sourceSize</key>
        <string>{256,257}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>BombSkill.png</string>
      <key>size</key>
      <string>{776,779}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:0092ace2f58f8c57f5cd791da9636c7d$</string>
      <key>textureFileName</key>
      <string>card/BombSkill.png</string>
    </dict>
  </dict>
</plist>
