<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>1_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>1_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,2},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>2_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,2},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>2_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,2},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>4_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,83},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>4_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,83},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>5_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,83},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>5_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,83},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>6_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,164},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>6_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,164},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>7_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,164},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>7_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,164},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>8_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,245},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>8_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{60,245},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
      <key>9_1.png</key>
      <dict>
        <key>frame</key>
        <string>{{127,245},{56,79}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{56,79}}</string>
        <key>sourceSize</key>
        <string>{56,79}</string>
      </dict>
      <key>9_2.png</key>
      <dict>
        <key>frame</key>
        <string>{{185,245},{65,68}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{65,68}}</string>
        <key>sourceSize</key>
        <string>{65,68}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>Card.png</string>
      <key>size</key>
      <string>{252,326}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:84201465fe9ab906faaa56be68327f93$</string>
      <key>textureFileName</key>
      <string>card/Card.png</string>
    </dict>
  </dict>
</plist>
