<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>jb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>jb3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>jb4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>jb5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>jb6.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>卡槽1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{395,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,110}}</string>
                <key>sourceSize</key>
                <string>{395,110}</string>
            </dict>
            <key>卡槽2.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,47},{74,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,110}}</string>
                <key>sourceSize</key>
                <string>{74,110}</string>
            </dict>
            <key>卡槽3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{97,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,110}}</string>
                <key>sourceSize</key>
                <string>{97,110}</string>
            </dict>
            <key>商店卡槽.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,159},{388,656}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,656}}</string>
                <key>sourceSize</key>
                <string>{388,656}</string>
            </dict>
            <key>购买1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,817},{173,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,56}}</string>
                <key>sourceSize</key>
                <string>{173,56}</string>
            </dict>
            <key>购买2.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,817},{173,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,56}}</string>
                <key>sourceSize</key>
                <string>{173,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CardBox.png</string>
            <key>size</key>
            <string>{491,875}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f57b2c44426d686392a45c0f46cbfa52$</string>
            <key>textureFileName</key>
            <string>Card/CardBox.png</string>
        </dict>
    </dict>
</plist>
