<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>dbing1.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,914},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
      <key>dbing2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,914},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
      <key>dbing3.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,458},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
      <key>dbing4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,458},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
      <key>dbing5.png</key>
      <dict>
        <key>frame</key>
        <string>{{433,2},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
      <key>dbing6.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{429,454}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{429,454}}</string>
        <key>sourceSize</key>
        <string>{429,454}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>IceSkill.png</string>
      <key>size</key>
      <string>{864,1370}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:2420e754d3a8aa0b6b85e03f485d069d$</string>
      <key>textureFileName</key>
      <string>card/IceSkill.png</string>
    </dict>
  </dict>
</plist>
