<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>201.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{118,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
      <key>202.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,130},{118,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
      <key>203.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,258},{118,126}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{118,126}}</string>
        <key>sourceSize</key>
        <string>{118,126}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>RocketSkill.png</string>
      <key>size</key>
      <string>{122,386}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:172ad50035442bddb6fc057cd58567e3$</string>
      <key>textureFileName</key>
      <string>card/RocketSkill.png</string>
    </dict>
  </dict>
</plist>
