<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>商店.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,127},{100,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,123}}</string>
        <key>sourceSize</key>
        <string>{100,123}</string>
      </dict>
      <key>商店2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{100,123}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{100,123}}</string>
        <key>sourceSize</key>
        <string>{100,123}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>ShopBox.png</string>
      <key>size</key>
      <string>{104,252}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:bb391da148235ff8f2e89917bc799330$</string>
      <key>textureFileName</key>
      <string>card/ShopBox.png</string>
    </dict>
  </dict>
</plist>
