<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>xb1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,470},{221,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,232}}</string>
        <key>sourceSize</key>
        <string>{221,232}</string>
      </dict>
      <key>xb2.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,236},{221,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,232}}</string>
        <key>sourceSize</key>
        <string>{221,232}</string>
      </dict>
      <key>xb3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,236},{221,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,232}}</string>
        <key>sourceSize</key>
        <string>{221,232}</string>
      </dict>
      <key>xb4.png</key>
      <dict>
        <key>frame</key>
        <string>{{225,2},{221,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,232}}</string>
        <key>sourceSize</key>
        <string>{221,232}</string>
      </dict>
      <key>xb5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{221,232}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{221,232}}</string>
        <key>sourceSize</key>
        <string>{221,232}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xbing.png</string>
      <key>size</key>
      <string>{448,704}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:13afa640ae61509e3881a85416647403$</string>
      <key>textureFileName</key>
      <string>card/xbing.png</string>
    </dict>
  </dict>
</plist>
