<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sk1.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,794},{272,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,196}}</string>
        <key>sourceSize</key>
        <string>{272,196}</string>
      </dict>
      <key>sk2.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,596},{272,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,196}}</string>
        <key>sourceSize</key>
        <string>{272,196}</string>
      </dict>
      <key>sk3.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,398},{272,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,196}}</string>
        <key>sourceSize</key>
        <string>{272,196}</string>
      </dict>
      <key>sk4.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,200},{272,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,196}}</string>
        <key>sourceSize</key>
        <string>{272,196}</string>
      </dict>
      <key>sk5.png</key>
      <dict>
        <key>frame</key>
        <string>{{2,2},{272,196}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{272,196}}</string>
        <key>sourceSize</key>
        <string>{272,196}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>xlei.png</string>
      <key>size</key>
      <string>{276,992}</string>
      <key>smartupdate</key>
      <string>$TexturePacker:SmartUpdate:8fc6b94c5351a9767b2e9f6c71c770e3$</string>
      <key>textureFileName</key>
      <string>card/xlei.png</string>
    </dict>
  </dict>
</plist>
